# Database Connection (Neon PostgreSQL)
DATABASE_URL="postgresql://neondb_owner:npg_dummy@ep-dummy.aws.neon.tech/neondb?sslmode=require"

# NextAuth v5 Configuration
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="gameby_cplusplus_super_secret_key_2026_change_me"
AUTH_TRUST_HOST="true"

# Piston Code Execution API
PISTON_API_URL="https://emkc.org/api/v2/piston"
